.post
    margin-top: 125px

    > .title
        text-align: center
        margin-bottom: 2rem

    > .date,
    > .post-tags
        color: $light-gray
        font-weight: 900
        font-size: 1.2rem
        text-transform: uppercase
        text-align: center
        display: block
        margin-top: 0
        margin-bottom: 6rem
        letter-spacing: 1px
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility

        > .item
            padding: 2px 6px
            border-radius: 3px
            background: $concrete-gray
            color: $black
            letter-spacing: 1px
            margin: 3px 1px
            text-decoration: none
            display: inline-block
            transition: all ease-in-out 0.2s

        > .item:hover
            color: $rice-white
            background: $medium-dark-gray
    
    > .source-link
        display: block
        margin-left: auto
        margin-right: auto
        text-align: center
        margin-bottom: 20px
        margin-top: none

        > .item
            font-weight: 500
            font-family: $fontMonospace
            text-decoration: none
            transition: all ease-in-out 0.2s
            color: $light-gray

    > .source-link:hover > .item
        color: $light-yellow

    


    > .date
        margin-bottom: 2rem

    // general style
    > h2,
    > h3,
    > h4
        margin-top: 40px

        a
            text-decoration: none

    > .title-image
        // max-height: 120px
        width: 70%
        display: block
        margin: 0 auto

    > .blog-navigation
        font-size: 1.4rem
        display: block
        width: auto
        overflow: hidden
        a
            display: block
            width: 50%
            float: left
            margin: 1em 0
        .next
            text-align: right

    > .list
        // border-top: 0.4px solid $gray
        color: $light-gray
        // margin-top: 30px
        // padding-top: 40px
        position: relative

    .post-tags
        color: $light-gray
        font-size: 1.2rem
        text-transform: uppercase
        font-weight: 900
        text-align: center
        display: block
        margin-top: 0
        margin-bottom: 6rem
        letter-spacing: 1px
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility

        > .item
            padding: 2px 6px
            border-radius: 3px
            background: $concrete-gray
            color: $black
            letter-spacing: 1px
            margin: 3px 1px
            text-decoration: none
            display: inline-block
            transition: all ease-in-out .2s

        > .item:hover
            color: $rice-white
            background: $medium-dark-gray
